header {
    background: #bbbbbb;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 50%;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

--------------------------------------

body {
    background-color: #cccccc;
}

p {
    text-align: center;
    margin: 3px 0;
}

em strong {
    color: rgb(95, 158, 160);
}

#banner {
    width: 100%;
}

.titulo-principal {
    padding-left: 50px;
    font-weight: bold;
    font-size: 2em;
}

.titulo-centralizado {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

.principal {
    background: #cccccc;
    padding: 30px;
}

#missao {
    font-size: 20px;
}

.beneficios {
    background: rgb(255, 255, 255);
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.itens {
    font-style: italic;
    margin: 10px 0;
}

.imagem-beneficios {
    width: 50%;
}

footer {
    text-align: center;
    background: url(bg.jpg);
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}